.board {
  width: 600px;
  height: 600px;
  color: rgb(215, 215, 215);
  display: grid;
  border: 3px solid rgb(46, 42, 42);
  border-radius: 10px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  padding: 30px;
}
